.header {
  z-index: 10;
  position: absolute;
  width: 100vw;
  padding-inline: 15rem;
  line-height: 3.5rem;
  background-color: white;
}

.headerLeft {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.headerRight {
  font-size: 1rem;
  cursor: pointer;
}
.headerRight:after {
  display: block;
  content: '';
  border-bottom: solid #1677ff;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}
.headerRight:hover,
.headerRight:hover:after {
  color: #1677ff;
  transform: scaleX(1);
}
